extends page1

block content 
  .container(style="align-items: center; justify-content: center; flex-direction: column")
    .box(style='margin-top: 23%; display: flex; align-items: center; justify-content: center; flex-direction: column')
      h1(style="color: #08CA1F") Text Message just sent!!! 
      br
      form(method="get" action="/")
        button.btn.btn-danger(type="submit" style="font-weight: 700; padding: 10px 40px" ) BACK
          h3(style="position: absolute; top: 92%; left: 72%; right: 0; bottom: 0; display: inline-block; color: black") Created By uzbekDev98  